@font-face {
    font-family: "thicker";
    src: url(fontes/Thicker-Regular-trial.ttf);
}

*{font-family: "thicker";
  }

.texto{
    font-size: 50px;
    text-transform: uppercase;
    background: linear-gradient(90deg,#dbcfe5, #a626a6, #57449a, #a13ec2);
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

@keyframes degrade{
    0%{
        background-position-x:0%;    
    }
    100%{
        background-position: 400%;
    }
    
}

.fones{
    display: inline-block;
    width: 400px;
    height: auto;
    padding-right: 90px;
    text-align: center;
    max-width: 100%;
}
#fone img{
    width: 200px;
    
}
body{
    background-color: #e8f1f9;
}
.fones h4{
    font-family: Arial, Helvetica, sans-serif;
}
s{
    font-family: Arial, Helvetica, sans-serif;
}

/* Cabeçalho */ 
header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: #57449a;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 
 .logo {
    width: 180px;
    height: 100px;
    margin-left: 150px;
 }

 .navbar a {
    color: white;
    margin-right: 100px;
 }
 
p{
    margin: 0;
    padding: 0;
    border: 0;
    color: green;
    padding-left: 67px;
} 

.compra{
    text-decoration: none;
    border-radius: 2px;
    padding: 6px;
    padding-top: 15px;
    color: white;
    background-color: #57449a;
    width: 50px;
  margin-left: 67px;    
}

h4{
    margin: 0;
    border: 0;
    padding: 0;
    padding-left: 67px;
}

img{
    margin: 30px 0 0;
    padding-left: 67px;
}

@media screen and (max-width: 415px){
    *{
        margin: 0;
        border: 0;
        padding: 0;
    }
    body{
        margin: 0;
        width: 414px;
    }

    .texto{
        font-size: 50px;
        text-align: center;
        margin-left: 100px;
        padding: 1px;
    }

    img.logo{
        margin: 0;
        border: 0;
        padding: 0;
    }

    .navbar a{
        flex-direction: column;
        align-items: center;
        margin: 0;
        border: 0;
        padding: 0;

    }

    .fones{
        margin-left: 30px;
    }

    .header{
        width: 540px;
    }

    .navbar{
        height: 100px;
        width: 100px;
        margin-right: 50px;
        margin-top: 50px;
    }
     }